html {
    background-color: black;
}
.elements {
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#image {
    border: 5px solid white;
    width: 100%;
}

#special {
    
    font-size: 35pt;
    text-transform: uppercase;
}


  
